<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<!--<ul class="layui-nav">-->
<!--    <li class="layui-nav-item">-->
<!--        <a href="">控制台<span class="layui-badge">9</span></a>-->
<!--    </li>-->
<!--    <li class="layui-nav-item">-->
<!--        <a href="">个人中心<span class="layui-badge-dot"></span></a>-->
<!--    </li>-->
<!--    <li class="layui-nav-item" lay-unselect="">-->
<!--        <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>-->
<!--        <dl class="layui-nav-child">-->
<!--            <dd><a href="javascript:;">修改信息</a></dd>-->
<!--            <dd><a href="javascript:;">安全管理</a></dd>-->
<!--            <dd><a href="javascript:;">退了</a></dd>-->
<!--        </dl>-->
<!--    </li>-->
<!--</ul>-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台用户管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a th:href="@{/}">首页</a></li>
            <li class="layui-nav-item"><a href="backStageIndex">后台</a></li>
            <li class="layui-nav-item">
<!--                <a href="javascript:;">其它系统</a>-->
                <dl class="layui-nav-child">
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${loginName}"></span>
                </a>
                <dl class="layui-nav-child">
<!--                    <dd><a href="">基本资料</a></dd>-->
<!--                    <dd><a href="">安全设置</a></dd>-->
                </dl>
            </li>
<!--            <div th:if="${loginName}">-->
                <li class="layui-nav-item"><a th:if="${loginName}" href="javascript:;" onclick="logout()"><i class="layui-icon layui-icon-logout"></i>退出</a></li>
                <li class="layui-nav-item"><a th:if="!${loginName}" th:href="@{/toLogin}"><i class="layui-icon layui-icon-username"></i>登录</a></li>
<!--            </div>-->
        </ul>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © rudy.com - 用户管理系统
    </div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<hr>
<!--<form th:action="@{/toLogin}">-->
<!--    <input type="submit" value="登录">-->
<!--</form>-->
<!--<form th:action="@{/showLayUiTable}">-->
<!--    <input type="submit" value="用户表">-->
<!--</form>-->
<!-- 条目中可以是任意内容，如：<img src=""> -->

<!--<script src="/static/layui/layui.js"></script>-->
<script th:src="@{/layui/layui.js}"></script>
<div class="layui-carousel" id="test1" align="center">
    <div carousel-item>
        <div><p class="layui-bg-blue demo-carousel">首页图片1</p></div>
        <div><p class="layui-bg-green demo-carousel">首页图片2</p></div>
        <div><p class="layui-bg-red demo-carousel">首页图片3</p></div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var msg = [[${msg}]]
    if(msg == "登录成功！"){
        layer.alert(msg, {icon: 1});
    }
    //eg2
    // layer.alert('加了个图标', {icon: 1}); //这时如果你也还想执行yes回调，可以放在第三个参数中。
    //eg3
    // layer.alert('登录成功', function(index){
    //     //do something
    //     layer.close(index);
    // });
</script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
<script>
    function logout(data) {
        layer.confirm("确定退出吗？",{
            btn : ['确定','取消'],
            btn2 : function () {
            }
        },function () {
            location.href="logout";
        })
    }
</script>
</html>